body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

nav {
  width: 100%;
  margin: 1rem 5rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 0 5rem;
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  width: 100%;
}

input {
  height: 2rem;
  width: 15rem;
}
